body {
  background-color: #00A8E8;
  color: #00A8E8;
}

.alarm-wrapper {
  width: 40%;
  margin: 5% auto 0 auto;
  background-color: #003459;
  color: #00A8E8;
}
.paper {
  padding: 20px;
  background-color: #003459;
  color: #00A8E8;
}

.time {
  color: #00A8E8;
}

.button {
  
}
